input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 8.2px;
  border: 1px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 255, 255, 0.49), 0px 0px 1.8px rgba(255, 255, 255, 0.49);
  border: 1px solid #ffffff;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 8.2px;
  border: 1px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 255, 255, 0.49), 0px 0px 1.8px rgba(255, 255, 255, 0.49);
  border: 1px solid #ffffff;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 16.4px;
  box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 16.4px;
  box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 255, 255, 0.49), 0px 0px 1.8px rgba(255, 255, 255, 0.49);
  border: 2.9px solid #ffffff;
  width: 34px;
  border-radius: 28px;
  background: #ffffff;
  cursor: pointer;
  height: 25px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}



body {
	color: white;
	background: black;
}

a {
	color: white;
}

.header {
	overflow:auto;
	width:100%;
}

.title {
	font-size: 3em;
	float: left;
}

.now-playing-label {
	font-size: large;
	font-family: sans-serif;
	padding: 10px;
	flex-grow: 1;
}

.play-controls {
	flex-grow: 1;
}

.controls-header {
	display: flex;
	flex-direction: row;
}

.control-btn {
	/*float:left;*/
	border: 1px solid white;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
	font-size: large;
	font-family: sans-serif;
}

.speed-controls-block {
	display: flex;
}

.speed-controls {
	border: none;
	float: left;
	flex-grow: 1;
	display: flex;
}

.speed-slider {
	flex-grow: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

#speed-label {
	flex-basis: 30%;
}

.speed-reset-button {
	border: 1px solid white;
	text-align: center;
	cursor: pointer;
	font-size: large;
	font-family: sans-serif;
	padding: 7px;
	margin-left: 15px;
}

.pattern-thumb {
	width:150px;
	height:150px;
}

.pattern-preview {
	width:150px;
	height:10px;
	clear:left;
	margin-top:3px
}

.pattern-block {
	margin: 5px;
	float:left;
	/*background: #202020;*/
	width: 150px;
	/*border: 1px solid white;*/
}

.pattern-group {
	/*background: #414141;*/
	border: 1px solid white;
	overflow: auto;
	margin: 10px;
	padding: 5px;
}

.all-patterns {
	border: 1px solid white;
}

.current {
	border: 1px solid white;
	margin: 10px;
	overflow: auto;
}

.current-panel {
	border: 1px solid white;
	display: flex;
	flex-direction: column;
}

.current-and-controls {
	display: flex;
	flex-direction: row;
}

.current-holder {
}

.play-controls {
	display: flex;
	flex-direction: column;
}

.color-picker-container {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.container {
	overflow: auto;
	max-width: 1000px;
}

.text-label {
	font-size: large;
	font-family: sans-serif;
	margin: 10px;
}

.pointer {
	cursor: pointer;
}