body {
	color: white;
	background: black;
}

a {
	color: white;
}

.header {
	overflow:auto;
	width:100%;
}

.title {
	font-size: 3em;
	float: left;
}

.play-controls {
	clear:left;
	overflow: auto;
}

.control-btn {
	float:right;
	border: 1px solid white;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	cursor: pointer;
}

.pattern-thumb {
	width:150px;
	height:150px;
}

.pattern-preview {
	width:150px;
	height:10px;
	clear:left;
	margin-top:3px
}

.pattern-block {
	margin: 5px;
	float:left;
	background: #202020;
	width: 150px;
	/*border: 1px solid white;*/
}

.pattern-group {
	/*background: #414141;*/
	border: 1px solid white;
	overflow: auto;
	margin: 10px;
	padding: 5px;
}

.all-patterns {
	border: 1px solid white;
}

.queue {
	background: #616161;
	/*overflow: auto;*/
	margin-right: -30000px;
}

.queue-holder {
	overflow: auto;
	margin: 10px;
	border: 1px solid white;
}

.queue-placeholder {
	height: 150px;
}

.current {
	border: 1px solid white;
	margin: 10px;
	overflow: auto;
}

.current-holder {
	float:left;
}

.current-and-queue {
	border: 1px solid white;
	overflow: auto;
}

.container {
	overflow: auto;
	max-width: 1000px;
}

.text-label {
	font-size: large;
	font-family: sans-serif;
	margin: 10px;
}

.pointer {
	cursor: pointer;
}